devel/data/pbmc3k_raw.h5ad
*.kate-swp
.vscode
.pytest_cache
__pycache__
build
dist
genieclust/*.so
genieclust/*.c
genieclust/*.cpp
genieclust/*.html
genieclust.egg-info
pytest/__pycache__
.ipynb_checkpoints
*.Rmd-tmp-*
src/*.o
src/*.so
devel/sphinx/_build
cache-*
coverage.xml
.coverage
htmlcov

# Compiled files:
*.o
*.so
*.dll
*.a
src-i386/
src-x64/


# Backup and temporary files:
*~
*.backup
*.cache
*.bak
*.tmp
tmp*
delme*

# LaTeX/knitr dust:
*.aux
*.log
*.out
*.bbl
*.blg
cache-knitr/
cache/

# Sphinx documentation
devel/sphinx/_build
