*.kate-swp
.vscode
.pytest_cache
__pycache__
build
dist
genieclust/*.so
genieclust/*.c
genieclust/*.cpp
genieclust/*.html
genieclust.egg-info
pytest/__pycache__
.ipynb_checkpoints
*.Rmd-tmp-*
src/*.o
src/*.so
devel/sphinx/_build
devel/sphinx/_api
cache-*
coverage.xml
.coverage
htmlcov

