include README.md
include LICENSE
include NEWS
include src/c_*.h
include genieclust/c_*.pxd
include genieclust/*.pyx
include genieclust/*.py
include *.in
include *.txt
global-exclude *.o
global-exclude *.so
exclude src/r_*
exclude src/Rcpp*
exclude src/.clangd
exclude src/Makevars*
exclude R/*
exclude docs/*
exclude man/*
exclude .devel/*
exclude .git/*
exclude .github/*
exclude .pytest_cache/*
exclude Makefile
