name: genieclust for Python

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.14']

    env:
        R_LIBS_SITE: /usr/lib/R/site-library

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        #sudo apt-get -y upgrade
        sudo apt-get -y install libcurl4-openssl-dev python3-rpy2 r-base-dev python3-dev pandoc libtirpc-dev
        sudo mkdir -p /usr/lib/R/site-library
        sudo Rscript -e "install.packages(c('Rcpp', 'tinytest', 'roxygen2', 'pkgbuild', 'quitefastmst', 'deadwood'), lib='/usr/lib/R/site-library')"  #'RcppArmadillo', 'RcppEnsmallen',
        sudo R CMD INSTALL .
        python3 -m venv python-venv
        source python-venv/bin/activate
        python3 -m pip install --upgrade pip
        if [ -f requirements.txt ]; then python3 -m pip install -r requirements.txt --upgrade; fi
        python3 -m pip install wheel scikit-learn rpy2 pandas scipy pytest --upgrade
    - name: Install and Test Python package
      run: |
        source python-venv/bin/activate
        python3 -m pip install .
        pytest
